@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: grid;
    height: 100vh;
    place-content: center;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    background-color: hsl(270, 20%, 96%);
}
.basic{
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 8rem;
    width: 800px;
    height: 550px;
    justify-content: center;
    align-items: center;
}
.base{
    /* background-color: steelblue; */
}
.base:nth-of-type(1){
    display: grid;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 100%;
    background-color: #fff;
    border-radius: 2rem;
    box-shadow: 10px 10px 20px #e6e6e6;
}
.base:nth-of-type(2) h1{
    font-size: 3rem;
    font-weight: 500;
    color: hsl(271, 36%, 24%);
    padding-bottom: 1rem;
}
.base:nth-of-type(2) h2{
    font-size: 1rem;
    font-weight: 400;
    color: hsl(270, 7%, 64%);
    line-height: 1.9rem;
}
.base-in{
    background-color: hsl(270, 20%, 96%);
    width: 260px;
    height: 96%;
    border-radius: 1.5rem;
}
.base-top{
    display: grid;
    align-items:center;
    width: 260px;
    height: 13%;
    background-image: linear-gradient(to right ,hsl(264, 100%, 61%), hsl(293, 100%, 63%));
    border-top-right-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}
.base-space{
    display: grid;
    justify-self: center;
    width: 145px;
    height: 100%;
    background-color: #fff;
    margin-top: -1px;
    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
}
.top-content{
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.top-cnt{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}
.top-cnt img{
    border-radius: 1rem;
    width: 25px;
    height: auto;
    border: 2px #fff solid;
}
.name{
    display: grid;
}
.name h2{
    font-size: 0.8rem;
    font-weight: 400;
}
.name h3{
    font-size: 0.55rem;
    font-weight: 400;
    color: hsl(276, 100%, 81%);
}
.mid h2{
    font-size: 0.55rem;
    font-weight: 400;
    color: hsl(276, 55%, 52%);
    width: 54%;
    padding: 0.4rem;
    padding-left: 0.6rem;
    background-color: hsl(0, 0%, 91%);
    border-radius: 0.7rem;
    border-bottom-left-radius: 0.4rem;
    margin: 0.7rem;
    line-height: 0.8rem;
}
.mid:nth-of-type(3) img{
    width: 45px;
    height: auto;
    border-radius: 0.7rem;
}
.mid:nth-of-type(3){
    display: flex;
    justify-content: end;
    column-gap: 0.5rem;
    padding-top: 0.4rem;
    padding-right: 0.7rem;
}
.mid h2.wt{
    font-size: 0.55rem;
    font-weight: 400;
    color: hsl(271, 15%, 43%);
    width: 54%;
    padding: 0.4rem;
    padding-left: 0.6rem;
    background-color: #fff;
    border-radius: 0.7rem;
    border-bottom-right-radius: 0.4rem;
    margin: 0.7rem;
    line-height: 0.8rem;
}
.mid:nth-of-type(4){
    display: flex;
    justify-content: end;
}
.mid:nth-of-type(5){
    display: flex;
    justify-content: end;
}
.mid:nth-of-type(5) h2.wt{
    margin: 0;
    margin-right: 0.7rem;
    width: auto;
}
